<div class="sg__color">
  <span class="sg__color__swatch -color--gray--xlight"></span>
  <span class="sg__color__label">gray.xlight</span>
</div>

<div class="sg__color">
  <span class="sg__color__swatch -color--gray--light"></span>
  <span class="sg__color__label">gray.light</span>
</div>

<div class="sg__color">
  <span class="sg__color__swatch -color--gray--base"></span>
  <span class="sg__color__label">gray.base</span>
</div>

<div class="sg__color">
  <span class="sg__color__swatch -color--gray--dark"></span>
  <span class="sg__color__label">gray.dark</span>
</div>

<div class="sg__color">
  <span class="sg__color__swatch -color--gray--xdark"></span>
  <span class="sg__color__label">gray.xdark</span>
</div>
