<p>
  Default: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif
</p>

<p>
  <strong>Default Bold: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif</strong>
</p>

<p>
  <em>Default Italic: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif</em>
</p>

<p class="minion-pro">
  Minion Pro: Minion Pro, Georgia, Times, Times New Roman, serif
</p>

<p class="minion-pro">
  <strong>Minion Pro Bold: Minion Pro, Georgia, Times, Times New Roman, serif</strong>
</p>

<p class="minion-pro">
  <em>Minion Pro Italic: Minion Pro, Georgia, Times, Times New Roman, serif</em>
</p>
