<div class="sg__icon">
  <span class="icon-cw" title=".icon-cw"></span>
</div>

<div class="sg__icon">
  <span class="icon-plus" title=".icon-plus"></span>
</div>

<div class="sg__icon">
  <span class="icon-minus" title=".icon-minus"></span>
</div>

<div class="sg__icon">
  <span class="icon-down-dir" title=".icon-down-dir"></span>
</div>

<div class="sg__icon">
  <span class="icon-search" title=".icon-search"></span>
</div>

<div class="sg__icon">
  <span class="icon-angle-circled-right" title=".icon-angle-circled-right"></span>
</div>

<div class="sg__icon">
  <span class="icon-ok-circled" title=".icon-ok-circled"></span>
</div>

<div class="sg__icon">
  <span class="icon-ok" title=".icon-ok"></span>
</div>

<div class="sg__icon">
  <span class="icon-attention" title=".icon-attention"></span>
</div>

<div class="sg__icon">
  <span class="icon-left-open-big" title=".icon-left-open-big"></span>
</div>

<div class="sg__icon">
  <span class="icon-right-open-big" title=".icon-right-open-big"></span>
</div>

<div class="sg__icon">
  <span class="icon-twitter" title=".icon-twitter"></span>
</div>

<div class="sg__icon">
  <span class="icon-facebook" title=".icon-facebook"></span>
</div>

<div class="sg__icon">
  <span class="icon-gplus" title=".icon-gplus"></span>
</div>

<div class="sg__icon">
  <span class="icon-youtube" title=".icon-youtube"></span>
</div>

<div class="sg__icon">
  <span class="icon-instagram" title=".icon-instagram"></span>
</div>

<div class="sg__icon">
  <span class="icon-flickr" title=".icon-flickr"></span>
</div>

<div class="sg__icon">
  <span class="icon-pinterest" title=".icon-pinterest"></span>
</div>
