<button class="burger" data-component="navigation">
  <span class="burger__text">Menu</span>
  <i class="burger__icon" role="presentation">
    <span class="burger__icon__bar -top"></span>
    <span class="burger__icon__bar -middle"></span>
    <span class="burger__icon__bar -bottom"></span>
  </i>
</button><!-- .burger -->
