<nav class="breadcrumb">
  <ul>
    <li class="breadcrumb__item">
      <a href="{{ siteUrl }}">Home</a>
    </li>

    <li class="breadcrumb__item">
      <a href="#">Section</a>
    </li>

    <li class="breadcrumb__item -active">
      <span>Page</span>
    </li>
  </ul>
</nav><!-- .breadcrumb -->
