p {
  color: color(gray, xdark);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;

  &.lead-paragraph {
    font-size: 1.3rem;
    text-align: center;
  }

  &.label {
    font-size: .8125rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;

    &.-white {
      color: white;
    }

    &.-gray {
      color: color(gray);
    }

    &.-green {
      color: color(green, xlight);
    }
  }
}

hr {
  border: 0;
  border-bottom: 1px solid color(gray, xlight);
  height: 0;
  margin: 2em 0;
}

// Inline Elements

p > a {
  color: color(green);
  margin: 0 2px;
  position: relative;
  text-decoration: none;

  &:before {
    position: absolute;
    margin: 0 auto;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: color(green);
    content: '';
    opacity: .3;
    transform: scaleX(.9);
    transition: all .3s;
  }

  &:hover:before {
    opacity: 1;
    transform: scaleX(1);
  }
}
